:root {
  --color-main: #fecea8;
  --dark-color: #2a363b;
}
h3,
text {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Domine", serif;
  width: auto;
  height: 100vh;
  width: 100vw;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100vw;
  height: 40vh;
  padding: 20px;
  background: #2a363b;
}
.header__title {
  display: block;
  color: var(--color-main);
  font-size: 20px;
  letter-spacing: 0.03em;
}
.nav__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 6px;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--color-main);
  text-decoration: none;
}
.nav {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  height: 3px;
  background-color: #99b898;
  border-radius: 2px;
  width: 0;
  transition: width 0.5s;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__link:hover {
  color: #99b898;
}
.header__border {
  display: flex;
  justify-content: center;
  border: 5px outset var(--color-main);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 7px 10px 5px 0px rgba(153, 184, 152, 0.81);
  -webkit-box-shadow: 7px 10px 5px 0px
    rgba(153, 184, 152, 0.81);
  -moz-box-shadow: 7px 10px 5px 0px
    rgba(153, 184, 152, 0.81);
}
.header__img {
  border: 2px outset var(--color-main);
  border-radius: 5px;
  transition: transform 1s ease-in-out;
}
.header__img:hover {
  transform: scale(1.1);
}
.main__background {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    -45deg,
    #99b898 25%,
    #fecea8 35%,
    #ff847c 50%,
    #e84a5f 65%,
    #2a363b 85%
  );
  animation: colors 15s ease infinite;
  background-size: 200% 200%;
}
.card-a__sun {
  stroke: 8px;
  fill: var(--color-main);
  padding: 20px 20px;
  animation: spincard-a__sun 15s linear infinite;
}
.card-a__bird {
  stroke: var(--color-main);
  fill: var(--dark-color);
  position: absolute;
  right: 10vw;
  /* animation: bird 5s linear infinite; */
}
.card-b__image {
  display: inline-block;
  position: center;
  bottom: -5px;
  box-shadow: 7px 10px 5px 0px rgba(153, 184, 152, 0.81);
  -webkit-box-shadow: 7px 10px 5px 0px
    rgba(153, 184, 152, 0.81);
  -moz-box-shadow: 7px 10px 5px 0px
    rgba(153, 184, 152, 0.81);
}
.footer {
  background: var(--dark-color);
  width: 100vw;
  height: 30vh;
}

.footer__text {
  display: block;
  padding: 15px;
  height: 1vw;
  color: var(--color-main);
  font-weight: 700;
}
.button {
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--dark-color);
  color: var(--color-main);
  height: 10vh;
  width: 30vw;
  border-radius: 10px;
  border: 2px outset var(--color-main);
}
@keyframes spincard-a__sun {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
