:root {
  --main-font: 'Domine', serif;
  --color-main: #fecea8;
  --color-dark: #2a363b;
  --color-red: #e84a5f;
  --color-orange: #ff847c;
  --color-green: #99b898;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: var(--main-font);
  width: auto;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 30vh;
  padding: 20px;
  background: var(--color-dark);
}
.header__img {
  display: block;
  border: 2px outset var(--color-main);
  border-radius: 5px;
  transition: transform 1s ease-in-out;
}
.header__img:hover,
.header__img:focus {
  transform: scale(0.9);
}
.header__title {
  display: block;
  position: center;
  color: var(--color-main);
  font-size: 20px;
  letter-spacing: 0.03em;
  transition: transform 1s ease-in-out;
}
.header__title:hover,
.header__title:focus {
  transform: scale(1.1);
}
.nav {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.nav__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 6px;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: var(--color-main);
  text-decoration: none;
}
.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  height: 3px;
  background-color: var(--color-green);
  border-radius: 2px;
  width: 0;
  transition: width 0.5s;
}
.nav__link:hover::after {
  width: 100%;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--color-green);
}
.main__background {
  margin: 0;
  padding: 0;
  width: 100vw;
  background: linear-gradient(
    -45deg,
    var(--color-green) 25%,
    var(--color-main) 35%,
    var(--color-orange) 50%,
    var(--color-red) 65%,
    var(--color-dark) 85%
  );
  animation: colors 10s ease infinite;
  background-size: 150% 150%;
}
.down__sun {
  display: block;
  stroke: 8px;
  fill: var(--color-main);
  position: absolute;
  top: 35vh;
  left: 5vw;
  animation: spin-sun 15s linear infinite;
}
.down__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.down__arrow {
  fill: var(--color-main);
  padding-top: 20px;
  transition: transform 0.5s ease-in-out;
}
.down__arrow:hover,
.down__arrow:focus {
  transform: translateY(30px);
}
.down__title {
  position: relative;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--color-main);
  font-size: 30px;
  font-weight: 700;
  border: 5px outset var(--color-main);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 7px 10px 5px 0px rgba(153, 184, 152, 0.81);
  -webkit-box-shadow: 7px 10px 5px 0px
    rgba(153, 184, 152, 0.81);
  -moz-box-shadow: 7px 10px 5px 0px
    rgba(153, 184, 152, 0.81);
  background: var(--color-dark);
  transition: transform 0.5s ease-in-out;
}
.down__title:hover,
.down__title:focus {
  transform: scale(1.1);
}
.down__story {
  text-align: center;
  background: var(--color-dark);
  margin: 0 80px;
  padding: 20px;
  border: 5px inset var(--color-main);
  border-radius: 20px;
}
.down__text {
  color: var(--color-main);
  font-size: 16px;
  line-height: 1.7;
  font-weight: 600;
  padding: 15px 30px;
  text-indent: 50px;
}
/* .down__cat {
  background-image: url(./../images/cheeshire-cat.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 500px;
  width: 80%;
} */
.alice__decoration {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.alice__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 5px outset var(--color-green);
  border-radius: 10px;
}
.alice__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 25%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.5 ease-in-out;
  transform: translateY(-100%);
}
.alice__decoration:hover .alice__overlay {
  transform: translateY(280%);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-dark);
  width: 100vw;
  height: 30vh;
  margin: 0;
  padding: 5vw 5vh;
}
.footer__items {
  display: block;
  color: var(--color-main);
  font-weight: 700;
  line-height: 1.7;
  padding: 20px;
  list-style-type: none;
}
.footer__btn {
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--dark-color);
  color: var(--color-main);
  height: 10vh;
  width: 30vw;
  border-radius: 10px;
  border: 2px outset var(--color-main);
}
@keyframes spin-sun {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}

.modal-window {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  max-width: 90vw;
  background: var(--color-orange);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding: 40px 60px;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  line-height: 0;
}
